<div class="div">
           
    <header class="header">
        <div class="header-sort">
           
        </div>
       
        <app-user></app-user>
    </header>
    <div class="container">
        <div >
            <app-filter></app-filter>
            
        </div>
   
        <app-menu></app-menu>
        <app-cart></app-cart>
       
    </div>
    
    <app-modal *ngIf="error!==undefined" [message]="error" [type]="'error'"></app-modal>
    
    <app-modal *ngIf="confirmMessage()!==undefined" [message]="confirmMessage()" [type]="'message'"></app-modal> 
    

</div>