.style-item{
  
    height: 2.3rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    border-bottom: 1px solid #e6e6e6;;
}
.style-item-btn{
    align-content: center;
    height: 2rem;
}
.style-item-p{
    display: inline-block;
    align-content: center;
    grid-column: 2/5;
    
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.1rem;
}
