.login {
  
    padding: 2.5rem 5rem;
    background-color: var(--color-dark--1);
    min-height: calc(100vh);
  }
  
  .form {
    background-color: var(--color-dark--2);
    border-radius: 7px;
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    
    width: 48rem;
    margin: 8rem auto;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .buton {
    color: inherit;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary {
    font-weight: 700;
    background-color: rgb(138, 7, 7);
    box-shadow: 5px 5px;
    color: var(--color-dark--1);
    transition: border-color 0.3s ease;
  }
  
  .back {
    font-weight: 600;
    background: none;
    box-shadow: 2px 2px;
    border: 1px solid currentColor;
    transition: border-color 0.3s ease;
  }