<div class="user">
    <span>{{authService.user() !== null ?  "Dobrodošli"+authService.user()?.name : "Ulogujte se" }} </span> 

   
        <div *ngIf="authService.user() === null; else logout " class="buttons">
        <button routerLink="/signin">SignUp</button>
        <button routerLink="/login">Login</button>
       
        </div> 
        <button *ngIf="authService.user()?.role === 'admin'" routerLink="/addWine">AddWine</button> 
        <ng-template #logout>
            <button (click)="authService.logOut()">Logout</button> 
        </ng-template>
        
    
    
     
   
   
  </div>
