<div>
    <header class="header">
     
  
      <div class="header-container">
        <div class="header-container-inner">
          <h1 class="heading-primary">Dobrodošli u svet vina</h1>
          <p>
          Otkrijte našu pažljivo odabranu kolekciju vrhunskih vina, stvorenih sa ljubavlju i tradicijom. Savršen izbor za svaku priliku.
          </p>
           
                <a class="btn" routerLink="/shop">
              Kupite Vina
              </a>
         
            
        </div>
      </div>
    </header>
    <section class="section-drum">
      
  
      
        
      <div class="drum-text-box">
        <h2 class="heading-secondary">Podrum pun tradicije</h2>
        
          <p class="drum-description">
          Naš podrum čuva više od vin a – čuva priču o generacijama posvećenim vinogradarstvu. Svaka boca svedoči o našoj strasti, strpljenju i umeću, koje prenosimo s kolena na koleno. Otkrijte autentičnost ukusa sačuvanu u savršenim uslovima našeg vinskog podruma.
          </p>
      </div>
      <div class="drum-img-box">
          <img
            src="assets/images/DSC_4595HDR.webp"
            class="drum-img"
            alt="podrum"
          />
        
  
      </div>
    </section>
  <section class="section-testimonials">
     
  </section>
  <section class="section-testimonials">
    <div class="testimonials-container">
      
      <h2 class="heading-secondary">Uživajte u našoj priči</h2>
  
      <div class="testimonials">
        <figure class="testimonial">
         
          <blockquote class="testimonial-text">
          Dobrodošli u našu galeriju, gde svaka fotografija priča o tradiciji, ljubavi prema vinogradu i strasti za savršenim vinom. Prošetajte kroz slike koje dočaravaju trenutke stvaranja i uživanja u našim vinima.
          </blockquote>
        
        </figure>
  
      </div>
    </div>
  
    <div class="gallery">
      <figure class="gallery-item">
        
         <img src="assets/images/douglas-lopez-Lf5Xzq6NvWw-unsplash.jpg" /> 
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/giga-goriashvili-D-BOHAM4FRc-unsplash.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/kelsey-knight-udj2tD3WKsY-unsplash.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/stefan-johnson-xIFbDeGcy44-unsplash.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/vinarija-perak-Vl0kA7QvOe8-unsplash.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
         src="assets/images/shutterstock_1815556148-scaled.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/Courtesy_of_Beaucastel_Winery_Beaucastel_Winery.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/ovvsgwofueptu8gxukll.jpg"
          alt="Photo of wine"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="assets/images/stonetower2-5.jpg"
          alt="Photo of wine"
        />
      </figure>
     
    </div>
  </section>
  
  
  </div>
